@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --background: #282c34;
  --text-common: #D3D4D7;
  --color-teme: #9901c3;
  --color-teme-hover:#740685;
  --section-color: #16181D;
}
* {
  text-decoration: none;
  color: var(--text-common);
}

header {
  background-color: var(--background);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0px 0px 15px 1px var(--section-color);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative; /* Adiciona uma posição relativa para posicionar o botão de menu */
}

.nav-icons-container {
  position: absolute; /* Altera para posição absoluta para posicionar o botão de menu */
  top: 0; /* Alinha o botão de menu ao topo */
  right: 0; /* Alinha o botão de menu à direita */
}

.nav-icons-container img {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.NavLinks {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 4rem;
}
.LogoTexto{
  margin: 0;
  margin-left:0;
  padding: 0;
  width: 50%;
}
.LogoTexto:hover{
  filter: drop-shadow(0px 1px 5px var(--color-teme));
}
.LogoFoto {
 display: none;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

li span {
  color: var(--text-common);
  font-weight: bolder;
  margin-right: 2.4rem;
  cursor: pointer;
}

li span:hover {
  color: var(--color-teme);
}

nav .menu-button{
  display: none;
}
@media (max-width: 800px) {
  .LogoTexto {
    display: none;
  }
  .LogoFoto {
    display: block;
    width: 50px;
    height: auto;
    margin-right: 1.5rem;
  }
  .LogoFoto:hover {
    filter: drop-shadow(0px 1px 3px var(--color-teme));
  }
  .nav-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .NavLinks {
    display: none;
    flex-direction: column;
    gap: 1.8rem;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    height: 90vh;
  }
  .NavLinks.open {
    display: flex;
    margin-top: 0; /* Remove a margem superior quando o menu está aberto */
  }
  nav .menu-button {
    display: block;
    width: 40px;
    margin-right: 2rem;
    height: auto;
    float: right;
    cursor: pointer;
  }
}

