.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff0707;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-toggle {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: #333;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  