:root{
  --bacground:#282c34;
  --text-comum:#D3D4D7;
  --color-teme:#9901c3;
  --color-teme-hover:#740685;
  --section-color:#16181D;
}
  *{
    margin:0;
    padding:0;
    overflow-x: hidden;
  }
  
  .App{
    background-color: var(--bacground);
  }