
:root{
    --bacground:#282c34;
    --text-comum:#D3D4D7;
    --color-teme:#9901c3;
    --color-teme-hover:#740685;
    --section-color:#16181D;
}
.cont{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bacground);
}